.gwn.experience{
    .experience__cards {
        // max-width: rem(400);
        margin-bottom: rem(50);
        display: inline-block;
        h2{
            line-height: normal;
            transition: 0.3s ease-in-out;
        }
        p{
            &:first-of-type{
                margin-bottom: 0;
                color: #fff;
            }
            &:not(:first-of-type){
                font-size: rem(14);
            }
        }
    }
    .experience__wrapper{
        @media #{$md}{
            display: flex;
            gap: rem(80);
        }
    }
    .experience__block{
        @media #{$md}{
            flex-basis: 50%;
        }
    }
}