.gwn.experience 
    header 
        span Explore my
        h1 Experience
    .experience__cards 
        -var cardHeading= 'Frontend Development'
        -var cardContent1= false
        -var cardList1 = 'HTML'
        -var cardList2= 'CSS'
        -var cardList3 = 'Pug Jader'
        -var cardList4= 'SCSS'
        -var cardList5 = 'jQuery'
        -var cardList6= 'JavaScript'
        -var CardClass= false
        include ../card/card.pug