.gwn.banner 
    //- .banner__wrapper 
    //-     figure 
    //-         img(src='images/me.jpg' alt='image')
    //-     article 
    //-         span Hello, I'm 
    //-         h1 Sreelakshmi N J 
    //-         h2 UI Developer 
    //-         .banner__btns
    //-             a.l-btn(href='' title='Download CV') Download CV
    //-             a.l-btn(href='' title='Download CV') Contact Info
    .banner__block 
        span Hello, I'm 
        h1 Sreelakshmi N J 
