.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 rem(24);
  &--sm{
    max-width: rem(950);
  }
}
.section{
  &:first-of-type{
    padding-top: 0;
  }
  padding: rem(60) 0;
  @media #{$md}{
    padding: rem(200) 0 rem(100);
  }
  &--training, &--internship, &--experience{
    padding: 0 0 rem(20);
    @media #{$md}{
      padding-bottom: rem(30);
    }
  }
  &--banner{
    padding-bottom: rem(40);
    @media #{$md}{
      padding: rem(180) 0 rem(60);
    }
  }
  &--contact{
    padding: rem(260) 0;
  }
}