.gwn.project{
    header{
        margin-bottom: rem(60);
    }
    // .project__item {
    //     max-width: rem(260);
    //     height: auto;
    // }
    .project__card {
        @media #{$md}{
            display: flex;
            gap: rem(30);
            flex-wrap: wrap;
        }
    }
}
