.gwn.project
    header 
        span Browse My Recent
        h1 Projects
    .project__card 
        a(href='' title='')
            -var cardHeading =false
            -var cardImg= 'images/skincare.jpg'
            -var cardList1= false
            -var CardClass= 'card--project'
            -var cardCaption= 'SkinCare'
            include ../card/card.pug
        a(href='' title='')
            -var cardHeading =false
            -var cardImg= 'images/webmine.jpg'
            -var cardCaption= 'WebMine'
            -var cardList1= false
            -var CardClass= 'card--project'
            include ../card/card.pug
        a(href='' title='')
            -var cardHeading =false
            -var cardImg= ''
            -var cardList1= false
            -var CardClass= 'card--project'
            include ../card/card.pug
