.gwn.project
    header 
        span Browse My Recent
        h1 Projects
    .project__card 
        .project__item
            -var cardHeading =false
            -var cardImg= 'images/webmine1.png'
            -var cardList1= false
            -var CardClass= 'card--project'
            include ../card/card.pug
        .project__item
            -var cardHeading =false
            -var cardImg= 'images/skincare.png'
            -var cardList1= false
            -var CardClass= 'card--project'
            include ../card/card.pug
        .project__item
            -var cardHeading =false
            -var cardImg= 'images/webmine1.png'
            -var cardList1= false
            -var CardClass= 'card--project'
            include ../card/card.pug
