.gwn.project
    header.is-header
        span Featured
        h1 Projects
    .project__card 
        a(href='' title='skincare' target='_blank')
            -var cardHeading =false
            -var cardImg= 'images/skincare.jpg'
            -var cardList1= false
            -var CardClass= 'card--project'
            -var cardCaption= 'SkinCare'
            include ../card/card.pug
        a(href='https://webmine3.netlify.app/' title='webmine' target='_blank')
            -var cardHeading =false
            -var cardImg= 'images/webmine.jpg'
            -var cardCaption= 'WebMine'
            -var cardList1= false
            -var CardClass= 'card--project'
            include ../card/card.pug
        a(href='https://paloalto-html.wrg-apps.com/unit-42/' title='Palo Alto Unit 42' target='_blank')
            -var cardHeading =false
            -var cardCaption= 'Palo Alto Unit 42'
            -var cardImg= 'images/palo.jpg'
            -var cardList1= false
            -var CardClass= 'card--project'
            include ../card/card.pug
