.gwn.card{
    border: rem(2) solid #fff;
    // max-width: rem(300);
    // min-height: rem(200);
    border-radius: rem(20);
    flex: 1;
    .card__item{
        padding: rem(30);
    }
    ul{
        display: grid;
        grid-template-columns: 1fr 1fr;
        li{
            color: #b5b5b5;
		    margin-bottom: rem(20);
        }
    }
    figure{
        figcaption{
            text-align: center;
            padding-top: rem(10);
        }
    }
    time{
        color: #b5b5b5;
        font-size: rem(12);
    }
    &--project{
        border-radius: 0%;
        .card__item{
            padding: rem(0);
            width: rem(200);
            height: rem(170);
        }
        figure{
            img{
                height: rem(120);
                object-fit: cover;
                width: 100%;
                transition: 0.3s ease-in-out;
            }
        }
    }
}