.gwn.about
    -var summaryHeading= 'About Me'
    -var summaryContent= 'Myself Sreelakshmi N J, and I am completely deaf. I have a BSc in Computer Science and 1.5 years of experience as a UI developer. I am knowledgeable in HTML5, Pug Jade, CSS3, SCSS, AOS and JavaScript. Please let me know if you are hiring candidates like me.'
    -var summaryBtn= 'Download CV'
    include ../summary/summary.pug