.gwn.about{
    .about__cards {
        display: flex;
        flex-direction: column;
        gap: rem(40);
        margin-bottom: rem(30);
        @media #{$md}{
            flex-direction: row;
            gap: rem(80);
        }
    }
    .about__wrapper{
        @media #{$md}{
            display: flex;
            // align-items: center;
            gap: rem(50);
        }
    }
    .l-btn{
        margin-right: rem(14);
        @media #{$md}{
            margin-right: rem(30);
        }
    }
    figure{
        max-width: rem(250);
        margin: 0 auto rem(30);
        @media #{$md}{
            max-width: 100%;;
        }
    }
    p{
        font-size: rem(16);
        @media #{$md}{
            font-size: rem(18);
        }
    }
    .about__skill{
        ul{
            display: flex;
            flex-wrap: wrap;
            gap: rem(20);
            li{
                color: #bcbaba;
                background-color: #2B2222;
                width: rem(80);
                height: rem(80);
                border-radius: 50%;
                cursor:pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                &:hover{
                    color: #782480;
                }
            }
        }
    }
    .about__myself{
        margin-bottom: rem(30);
    }
}