.gwn.about
    header.is-header
        span About
        h1 Me
    .about__wrapper     
        figure 
            img(src='images/me.jpg' alt='image')
        .about__myself 
            p I'm Sreelakshmi N J, and I am completely deaf. I have a BSc in Computer Science and 1.5 years of experience as a UI developer. I am knowledgeable in HTML5, Pug Jade, CSS3, SCSS, AOS and JavaScript. Please let me know if you are hiring candidates like me.
            a.l-btn(href='mailto:sreelakshminj@gmail.com' title='hire me') Hire Me
            a.l-btn(href='images/resume.pdf' title='download cv' target='_blank') Download CV
            
    .about__skill 
        h2 Skill
        ul(role='list')
            li(role='listitem') HTML 
            li(role='listitem') CSS
            li(role='listitem') jQuery
            li(role='listitem') Pug Jade 
            li(role='listitem') scss 
            li(role='listitem') javascript
            