header.gwn.header
    .container
        .header__wrapper 
            .header__logo 
                //- a(href='' title='Gwen')
                //-     img(src='images/profile.png' alt='')
                h2 Sreelakshmi
            nav
                ul.header__menu(role='menu')
                    li(role='menuitem')
                        a(href='' title='') About
                    li(role='menuitem')
                        a(href='' title='') Experience
                    li(role='menuitem')
                        a(href='' title='') Projects
                    li(role='menuitem')
                        a(href='' title='') Contact