header.gwn.header
    .container
        .header__wrapper 
            .header__logo 
                a(href='' title='Sreelakshmi')
                    h2 Sreelakshmi
            nav.is-desktop
                ul.header__menu(role='menu')
                    li(role='menuitem')
                        a(href='' title='') Projects
                    li(role='menuitem')
                        a(href='' title='') Resume
                    li(role='menuitem')
                        a(href='' title='') About
                    li(role='menuitem')
                        a(href='' title='') Contact