.gwn.contact{
    header{
        margin-bottom: rem(60);
        text-align: center;
    }
    svg{
		width: rem(35);
		height: rem(35);
        border: rem(1) solid #782480;
        padding: rem(5);
		path{
			fill:#fff;
		}
	}
	ul{
		display: flex;
		align-items: center;
		gap: rem(20);
		justify-content: center;
	}
	a{
		display: flex;
		align-items: center;
	}
}